body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #333333;
}

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
    text-align: left;
    width: auto;
    background-color:#4b6c9e;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.footer
{
    color: #f9f9f9;
    padding: 8px 0px 8px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.logotype
{
	float: left;
}

tr.bounds
{
	background-color: #4b6c9e;
}

tr.title
{
	background-color: #507CD1; 
	color: White; 
	font-weight: bold;	
}

.view
{
	padding: 6px;
}

.titleview
{
	background-color: #DEE8F5; 
	font-weight: bold;
	padding: 6px;
}

a
{
	color: Blue;	
	text-decoration: underline;
}

a:hover, a:active 
{
	color: Blue;
}

a.page
{
	color: White;
}